<div class="stepwizard md-offset-3">
  <div class="stepwizard-row setup-panel">
    <% if step == 1 %>
      <div class="stepwizard-step">
        <a href="/wizard/step1" type="button" class="btn btn-info btn-circle">1</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step2" type="button" class="btn btn-disabled btn-circle" disabled="disabled">2</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step3" type="button" class="btn btn-disabled btn-circle" disabled="disabled">3</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step4" type="button" class="btn btn-disabled btn-circle" disabled="disabled">4</a>
      </div>
    <% elsif step == 2 %>
      <div class="stepwizard-step">
          <a href="/wizard/step1" type="button" class="btn btn-disabled btn-circle" disabled="disabled">1</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step2" type="button" class="btn btn-info btn-circle">2</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step3" type="button" class="btn btn-disabled btn-circle"  disabled="disabled">3</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step4" type="button" class="btn btn-disabled btn-circle" disabled="disabled">4</a>
      </div>
    <% elsif step == 3 %>
      <div class="stepwizard-step">
          <a href="/wizard/step1" type="button" class="btn btn-disabled btn-circle" disabled="disabled">1</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step2" type="button" class="btn btn-disabled btn-circle" disabled="disabled">2</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step3" type="button" class="btn btn-info btn-circle">3</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step4" type="button" class="btn btn-disabled btn-circle" disabled="disabled">4</a>
      </div>
    <% elsif step == 4 %>
      <div class="stepwizard-step">
          <a href="/wizard/step1" type="button" class="btn btn-disabled btn-circle" disabled="disabled">1</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step2" type="button" class="btn btn-disabled btn-circle" disabled="disabled">2</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step3" type="button" class="btn btn-disabled btn-circle" disabled="disabled">3</a>
      </div>
      <div class="stepwizard-step">
        <a href="/wizard/step4" type="button" class="btn btn-info btn-circle">4</a>
      </div>
    <% end %>
  </div>
</div>