<div class="container wizard-container">
  	<div class="row">
	    <div class="col-md-8 offset-md-2 text-center card">
	    	<div class="card-header text-center shadow">
		        <h4> Your age </h4>
		    </div>
	    	<%= render partial: 'steps_wizard', locals: {step: 2} %>
			<%= form_for @secret_wizard, as: :secret_wizard, url: validate_step_wizard_path do |f| %>
			 	<%= hidden_field_tag :current_step, 'step2' %>
		  		<div class="row">
		  			<div class="col-md-10 offset-md-1 text-center">
		      			<div class="range-slider">
						  <input name="secret_wizard[user_age]" class="secret_wizard_secret_body range-slider__range" type="range" value="0" min="15" max="99">
						  <span class="range-slider__value">15</span>
						</div>
		   			</div>
		   		</div>
		   		<div class="row text-center">
		   			<div class="col-12">
		   				<%= f.submit 'Next', class: "btn btn-primary shadow", style: "margin-top: 30px;" %>
		   			</div>
		   		</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	var rangeSlider = function(){
  var slider = $('.range-slider'),
      range = $('.range-slider__range'),
      value = $('.range-slider__value');
    
  slider.each(function(){
    range.on('input', function(){
      $(this).next(value).html(this.value);
    });
  });
};

rangeSlider();
</script>