<div class="container wizard-container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center card">
      <div class="card-header text-center shadow">
        <h4> You are </h4>
      </div>
      <%= render partial: 'steps_wizard', locals: {step: 1} %>
      <%= form_for @secret_wizard, as: :secret_wizard, url: validate_step_wizard_path do |f| %>
        <%= hidden_field_tag :current_step, 'step1' %>
        <div class="row">
          <div class="col-md-6 text-center">
            <%= f.radio_button :user_gender, 'Man', class: "gender-radio gender-male", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 5Mbps" %>
          </div>
          <div class="col-md-6 text-center">
            <%= f.radio_button :user_gender, 'Woman', class: "gender-radio gender-female", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 10Mbps" %>
          </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
              <%= f.submit 'Next', class: "btn btn-primary shadow", style: "margin-top: 30px;" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
