<div class="container wizard-container">
	<div class="row">
		<div class="col-md-8 offset-md-2 text-center card">
			<div class="card-header text-center shadow">
        		<h4> Your secret </h4>
      		</div>
			<%= render partial: 'steps_wizard', locals: {step: 3} %>
			<%= form_for @secret_wizard, as: :secret_wizard, url: validate_step_wizard_path do |f| %>
			  	<%= hidden_field_tag :current_step, 'step3' %>
			  	<div class="row">
		  			<div class="col-md-10 offset-md-1">
		  				<div class="form-group">
		  					<%= f.text_area :secret_body, class: "form-control", style:"width: 100%;" %>
		  				</div>
		   			</div>
		   		</div>
		   		<div class="row">
		   			<div class="col-md-10 offset-md-1" style="text-align: left;">
		   				<ol>
		   					<li> Don't post any phone number and/or name of any person. This is illegal. </li>
		   					<li> Don't be rude. Avoid using offensive terms and insults. </li>
		   					<li> Write grammatically correct sentences. </li>
		   					<li> Don't judge anyone on sexual preferences, religion, ethnicity. </li>
		   				</ol>
		   			</div>
		   		</div>
			  	<div class="row text-center">
		   			<div class="col-12">
		   				<%= f.submit 'Next', class: "btn btn-primary shadow", style: "margin-top: 30px;" %>
		   			</div>
		   		</div>		  
			<% end %>
		</div>
	</div>
</div>