<div class="container wizard-container">
  	<div class="row">
	    <div class="col-md-8 offset-md-2 text-center card">
	    	<div class="card-header text-center shadow">
		        <h4> Choose a category </h4>
		    </div>
	    	<%= render partial: 'steps_wizard', locals: {step: 4} %>
			<%= form_for @secret_wizard, as: :secret_wizard, url: validate_step_wizard_path do |f| %>
		  	<%= hidden_field_tag :current_step, 'step4' %>
		  	<div class="row">
            <div class="col-md-4">
              <div class="row">
	                <div class="col-12 text-center">
	                  <%= f.radio_button :category_id, Category.find_by_name("funny").id, class: "gender-radio category-funny", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 5Mbps" %>
	                </div>
	                <div class="col-12 text-center">
	                  Funny
	                </div>
	              </div>
	            </div>
	            <div class="col-md-4">
	              <div class="row">
	                <div class="col-12 text-center">
	                  <%= f.radio_button :category_id, Category.find_by_name("sexy").id, class: "gender-radio category-hot", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 10Mbps" %>
	                </div>
	                <div class="col-12 text-center">
	                  Sexy
	                </div>
	              </div>
	            </div>
	            <div class="col-md-4">
	              <div class="row">
	                <div class="col-12 text-center">
	                  <%= f.radio_button :category_id, Category.find_by_name("love&relationships").id, class: "gender-radio category-love", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 10Mbps" %>
	                </div>
	                <div class="col-12 text-center">
	                  Love & Relationships
	                </div>
	              </div>
	            </div>
	            <div class="col-md-4">
	              <div class="row">
	                <div class="col-12 text-center">
	                  <%= f.radio_button :category_id, Category.find_by_name("rant").id, class: "gender-radio category-rant", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 10Mbps" %>
	                </div>
	                <div class="col-12 text-center">
	                  Rants
	                </div>
	              </div>
	            </div>
	            <div class="col-md-4">
	              <div class="row">
	                <div class="col-12 text-center">
	                  <%= f.radio_button :category_id, Category.find_by_name("embarassing").id, class: "gender-radio category-embarassing", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 10Mbps" %>
	                </div>
	                <div class="col-12 text-center">
	                  Embarassing
	                </div>
	              </div>
	            </div>
	            <div class="col-md-4">
	              <div class="row">
	                <div class="col-12 text-center">
	                  <%= f.radio_button :category_id, Category.find_by_name("miscellaneous").id, class: "gender-radio category-misc", "data-toggle": "tooltip", "data-placement": "top", title: "Speed lower than 10Mbps" %>
	                </div>
	                <div class="col-12 text-center">
	                  Miscellaneous
	                </div>
	              </div>
	            </div>
	          </div>
			  <div class="row text-center">
		   			<div class="col-12">
		   				<%= f.submit 'Next', class: "btn btn-primary shadow submit-secret-btn", style: "margin-top: 30px;" %>
		   			</div>
		   		</div>
			<% end %>
		</div>
	</div>
</div>

<% if Rails.env == "production"  %>
	<script>
		$('.submit-secret-btn').on('click', function(){
			ga('send', 'event', 'Secret', 'Submitted');
		});
	</script>
<% end %>