<style>
	@media(device-width: 768px) and (device-height: 1024px){
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}

</style>
<div class="container secret-listing">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<% @secrets.each do |secret| %>
				<div class="row">
					<div class="col-md-12">
						<div class="card secret-card shadow" data-secret="<%= secret.id %>">
							<div class="card-header <%= secret.user_gender.downcase %> text-center shadow">
						    	<h4> <%= secret.user_gender.capitalize %> - <%= secret.user_age %> y/o </h4>
						  	</div>
						  	<div class="card-block" data-secret="<%= secret.id %>">
						  			<% if session[:current_user] %>
						  				<div class="delete-box">
						  					<%= link_to 'Delete', secret_path(secret), method: :delete %>
						  				</div>
						  			<% else %>
						  				<div class="report-box">
								  			<span class="report-label"> Report </span>
								  			<i class="report-icon fa fa-exclamation-triangle" data-secret="<%= secret.id %>" aria-hidden="true"></i>
							  			</div>
							  		<% end %>
						    	<p class="card-text"><%= secret.secret_body %></p>
						    	<p> </p>
						    	<div class="time-distance pull-left"> 
						    		<%= distance_of_time_in_words(secret.created_at, Time.now) %> ago in <a href="<%= secrets_path %>?category=<%= URI::escape(secret.category.name) %>">#<%= secret.category.name %> <img style="height: 20px;" src="<%= secret.category.icon %>"></a>  
						    	</div>
						    	<br>
						    	<div class="pull-left">
						    		<%= social_share_button_tag("Hey you! Look at this secret!", :url => "#{ENV['DOMAIN_URL']}?secret=#{secret.id}") %>
						    	</div>
						  	</div>
						  	<div class="card-footer text-muted">
						  		<div class="upvotes-container pull-right">
						  			Upvotes: <span id="upvotes-<%= secret.id %>"> <%= secret.upvotes %> </span>
						  		<div class="up-down-votes pull-right" style="padding-left: 30px;">
						  			<i class="fa fa-thumbs-up change-upvotes upvote" aria-hidden="true" data-action="upvote" data-secret="<%= secret.id %>"></i> | <i class="fa fa-thumbs-down change-upvotes downvote" aria-hidden="true" data-action="downvote" data-secret="<%= secret.id %>"></i>
						  		</div>
						  		</div>
						  		<a class="show-comments pull-left pointer"> <i class="fa fa-comment" aria-hidden="true"></i> <%= secret.comments.length %> <% if secret.comments.length == 1%> Comment <% else %> Comments <% end %> </a>
							</div>
							<div class="card-footer card-comments hidden">
								<div class="container">
									<div class="row"> 
										<div class="col-12 pull-left">
											<h5> Comments </h5>
										</div>
									</div>
									<div class="row comments-row" style="max-height: 200px; overflow-y: scroll;">
										<% secret.comments.each do |comment| %>
											<div class="col-12" style="margin-bottom: 10px;">
												<img src="https://api.adorable.io/avatars/100/comment-<%= comment.id %>" style="height: 30px; width: auto; border-radius: 50%; margin-left: 15px;">	<span style="padding-left: 15px; border-left: 1px solid #ededed;"> <%= comment.body %> </span> <span class="pull-right" style="font-size: 14px; color: #cdcdcd;"> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago </span>
											</div>
										<% end %>
									</div>
									<div class="row">
										<div class="col-12 form-group">
											<input type="text-area" name="comment-body" class="form-control" placeholder="Type in your comment">
										</div>
										<div class="col-md-12">
											<span class="btn btn-secondary shadow pull-right send-comment"> Send </span>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			<% end %>	
		</div>
	</div>
</div>

<div class="report-confirmation" style="display: none;">
	<div class="row text-center">
		<div class="col-12 text-center">
			<h3> Thanks for keeping this place clean.</h3>
		</div>
		<div class="col-12 text-center">
			<h5> What's the reason this post is being reported?</h5>
		</div>
	</div>
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-4 text-center">
			<span class="btn btn-disabled reported-btn"> Hate Speech </span>
		</div>
		<div class="col-md-4 text-center">
			<span class="btn btn-disabled reported-btn"> Sexual Harassment </span>
		</div>
		<div class="col-md-4 text-center">
			<span class="btn btn-disabled reported-btn"> Other </span>
		</div>
	</div>
</div>

<script>
	$('.report-box').on("click", function(){
		$(this).parent().html($('.report-confirmation').html())
	});


	$(document).on('click', '.reported-btn', function(){
		var card_block = $(this).parents('.card-block')
	    var secret_id = card_block.attr('data-secret');
	    $.ajax({
			method: "POST",
		  	url: "/secret/report?secret="+secret_id,
		  	success: function(data){
		  		console.log(data);
		  		if (data.status == "ok"){
		  			var html = '<div class="row"><div class="col-12 text-center"><h3> I will review the post and delete it if it goes against the rules, thank you! </h3></div></div>'
		  			card_block.html(html)
		  		}
		  	}
	  	})
	});
</script>