/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import "social-share-button";

body{
	background: #642B73;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Poppins', sans-serif;
  color: #353535;
}

.modal .modal-header{
	margin-left: 30px;
    border: none;
    margin-top: -30px;
    width: 200px;
    background: #17bd80;
    border-radius: 25px;
}

.modal .modal-dialog{
	margin-top: 150px;	
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}

.nav-link{
	padding-left: 0;
	padding-right: 0;
}

.nav-item{
	padding-left: 15px;
	padding-right: 15px;
}

.pointer{
  cursor: pointer;
}

.hidden{
  display: none;
}

.shadow{
	-webkit-box-shadow: 9px 7px 33px -5px rgba(0,0,0,0.59);
	-moz-box-shadow: 9px 7px 33px -5px rgba(0,0,0,0.59);
	box-shadow: 9px 7px 33px -5px rgba(0,0,0,0.59);
}

.navbar{
	background: transparent;
}

.nav-item.active .nav-link{
	border-bottom: 2px solid #17bd80;
}

.nav-link{
	border-bottom: 2px solid transparent;
}

.nav-link:hover{
	border-bottom: 2px solid #17bd80;
}

.btn.btn-primary{
	background: #febd11;
	border-color: #febd11;
	color: #353535;
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover{
  -webkit-transform: scale(1.1);
}



.btn.btn-secondary{
	background: #17bd80;
	border-color: #17bd80;
	color: white;
  border-radius: 25px;
  cursor: pointer;
}

.btn.btn-disabled{
	background: #cdcdcd;
	border-color: #cdcdcd;
	color: white;
  cursor: pointer;
}

.gender-radio{
  margin-bottom: 15px;
  margin-top: 15px;
  padding:0;
  -webkit-appearance:none;
      -moz-appearance:none;
           appearance:none;
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.gender-radio:hover{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
    opacity: .9;
}

.gender-radio:active {opacity: .9;}
.gender-radio:checked{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.gender-female{
  background-image: url('//farm5.staticflickr.com/4320/35671549660_b06fe69abd_o.png');
}

.gender-male{
  background-image: url('//farm5.staticflickr.com/4295/36019951766_47ee95ed7a_o.png');
}


.category-funny{
  background-image: url('//farm5.staticflickr.com/4309/36061871775_078e10cb50_o.png');
}
.category-embarassing{
  background-image: url('//farm5.staticflickr.com/4310/36061871525_9ce6c7d13a_o.png');
}
.category-misc{
  background-image: url('//farm5.staticflickr.com/4324/36061871925_4d069a4326_o.png');
}
.category-rant{
  background-image: url('//farm5.staticflickr.com/4317/36061872085_10fb4a7b65_o.png');
}
.category-hot{
  background-image: url('//farm5.staticflickr.com/4315/36061872245_d3cac45b3d_o.png');
}
.category-love{
  background-image: url('//farm5.staticflickr.com/4304/36061872455_643929081e_o.png');
}

.select-category-btn{
	margin: auto;
}