.secret-listing{
	padding-top: 30px;
}

.secret-card{
	margin-bottom: 50px;
}

.secret-card .card-header{
	margin-left: 30px;
    margin-right: 30px;
    margin-top: -25px;
    border: none;
    border-radius: 25px;
    width: 200px;
}

.secret-card .card-header.man{
	background: #3C98C7;
}

.secret-card .card-header.woman{
	background: #F96FB4;
}

.secret-card .report-box{
	position: absolute;
	top: 5px;
	right: 5px
}

.secret-card .delete-box{
	position: absolute;
	top: 5px;
	right: 5px
}

.secret-card .report-box .report-label{
	display: none;
}

.secret-card .report-box:hover{
	cursor: pointer;
}

.secret-card .report-box:hover .report-label{
	display: inline;
}

.secret-card .change-upvotes:hover{
	cursor: pointer;
	-webkit-transform: scale(1.5);
}

.secret-card .change-upvotes.upvote:hover{
	color: green;
}

.secret-card .change-upvotes.downvote:hover{
	color: red;
}

.secret-card .time-distance{
	font-size: 14px;
	color: #cdcdcd;
}

.secret-card .card-comments{
	background: white;
}