<div id="pick-category-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header shadow">
        <h5 class="modal-title">Pick a category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
                  <div class="row">
            <div class="col-md-4">
              <div class="row">
                  <div class="col-12 text-center">
                    <%= radio_button_tag 'category', "funny", false, class: "gender-radio category-funny" %>
                  </div>
                  <div class="col-12 text-center">
                    Funny
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-12 text-center">
                    <%= radio_button_tag 'category', "sexy", false, class: "gender-radio category-hot" %>
                  </div>
                  <div class="col-12 text-center">
                    Sexy
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-12 text-center">
                    <%= radio_button_tag 'category', "love & relationships", false, class: "gender-radio category-love" %>
                  </div>
                  <div class="col-12 text-center">
                    Love & Relationships
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-12 text-center">
                    <%= radio_button_tag 'category', "rant", false, class: "gender-radio category-rant" %>
                  </div>
                  <div class="col-12 text-center">
                    Rants
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-12 text-center">
                    <%= radio_button_tag 'category', "embarassing", false, class: "gender-radio category-embarassing" %>
                  </div>
                  <div class="col-12 text-center">
                    Embarassing
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-12 text-center">
                    <%= radio_button_tag 'category', "miscellaneous", false, class: "gender-radio category-misc" %>
                  </div>
                  <div class="col-12 text-center">
                    Miscellaneous
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <%= link_to "Done", secrets_path(), :class => "btn btn-primary select-category-btn shadow" %>
      </div>
    </div>
  </div>
</div>

<script>
  var category_url = $(".select-category-btn").attr("href");
  $('input[type=radio][name=category]').change(function() {
    console.log($(this).val());
    $(".select-category-btn").attr("href", category_url + "?category=" + encodeURIComponent($(this).val()));
    });
</script>