<nav class="navbar navbar-toggleable-md navbar-inverse belooga-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>">
        <img src="//farm5.staticflickr.com/4313/35292896663_8c65d83fc2_o.png" style="width: 150px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <% if session[:current_user] %>
              <li class="nav-item">
                <%= link_to 'Log OUT', session_path('logout'), method: :delete, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item <%= active_class(root_path) %>">
                <a class="nav-link" href="<%= root_path %>"> Most Recent <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item <%= active_class(secrets_recent_path) %>">
                <a class="nav-link" href="<%= secrets_recent_path %>"> Most Popular <span class="sr-only">(current)</span></a>
            </li>
<!--             <li class="nav-item random-secret">
                <span class="nav-link" style="cursor: pointer;" data-toggle="modal" data-target="#random-secret-modal">Random Secret</span>
            </li> -->
            <li class="nav-item  <%= active_class(secrets_path) %>">
                <a class="nav-link" href="#"  data-toggle="modal" data-target="#pick-category-modal">Categories</a>
            </li>
            <li class="nav-item <%= active_class(step1_wizard_path) %>">
                <%= link_to "Share a secret", step1_wizard_path, class: 'btn btn-primary shadow' %>
            </li>
        </ul>
    </div>
</nav>