<div id="random-secret-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header shadow">
        <h5 class="modal-title">Pick a category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="card secret-card shadow">
            <div class="card-header text-center shadow">
                <h4 id="user-gender-age"> </h4>
              </div>
              <div class="card-block">
                <p id="secret-body" class="card-text"> </p>
                <p> </p>
                <p class="time-distance pull-right"> </p>
              </div>
              <div class="card-footer text-muted">
                Upvotes: <span id="upvotes">  </span>
                <div class="up-down-votes pull-right">
                  <i class="fa fa-thumbs-up change-upvotes upvote" aria-hidden="true" data-action="upvote" data-secret=""></i> | <i class="fa fa-thumbs-down change-upvotes downvote" aria-hidden="true" data-action="downvote" data-secret=""></i>
                </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="modal-footer text-center">
        <%= link_to "Done", secrets_path(), :class => "btn btn-primary select-category-btn shadow" %>
      </div>
    </div>
  </div>
</div>

<script>
  $("#random-secret-modal").on("shown.bs.modal", function(){
    $.ajax({
        url: "/secret/random",
        success: function(data){
          console.log(data);
          $('.random-secret-modal .modal-header').addClass(data.secret.user_gender);
          $('.random-secret-modal #user-gender-age').html(data.secret.user_gender + " - " + data.secret.user_age + " y/o");
        }
      })
  });
</script>