<% if @secret %>
  <div id="secret-modal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: transparent; border: none;">
<!--         <div class="modal-header shadow">
          <h5 class="modal-title">Pick a category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body">
          <div class="container">
            <div class="card secret-card shadow">
              <div class="card-header <%= @secret.user_gender.downcase %> text-center shadow">
                  <h4> <%= @secret.user_gender.capitalize %> - <%= @secret.user_age %> y/o </h4>
                </div>
                <div class="card-block">
                  <p class="card-text"><%= @secret.secret_body %> </p>
                  <p> </p>
                  <div class="time-distance pull-left"> 
                    <%= distance_of_time_in_words(@secret.created_at, Time.now) %> ago in <a href="<%= secrets_path %>?category=<%= URI::escape(@secret.category.name) %>">#<%= @secret.category.name %></a>  
                  </div>
                  <br>
                  <div class="pull-left">
                    <%= social_share_button_tag("Hey you! Look at this secret!", :url => "#{ENV['DOMAIN_URL']}?secret=#{@secret.id}") %>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  <a class="comments-load pull-left pointer" onclick="loadDisqus($(this), '<%= @secret.id %>', 'localhost:4004'+'<%= secret_path(@secret)%>');"> <i class="fa fa-comment" aria-hidden="true"></i>
  Show comments </a>
                  <div class="upvotes-container pull-right">
                    Upvotes: <span id="upvotes-<%= @secret.id %>"> <%= @secret.upvotes %> </span>
                  <div class="up-down-votes pull-right" style="padding-left: 30px;">
                    <i class="fa fa-thumbs-up change-upvotes upvote" aria-hidden="true" data-action="upvote" data-secret="<%= @secret.id %>"></i> | <i class="fa fa-thumbs-down change-upvotes downvote" aria-hidden="true" data-action="downvote" data-secret="<%= @secret.id %>"></i>
                  </div>
                  </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(function(){
        var hasParam = window.location.href.indexOf("secret=");
        if(hasParam) {
           $('#secret-modal').modal();
        }
      })
  </script>
<% end %>