<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags %>
    <%= favicon_link_tag '//farm5.staticflickr.com/4321/35936935452_8c8e9fdfe2_o.png' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Poppins" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3733033095806708",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
      <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
       <%= render 'layouts/categories_modal' %>
        <!-- <%= render 'layouts/random_secret_modal' %> -->
        <%= render 'layouts/secret_modal' %>
        <%= render 'layouts/google_analytics' %>
      </main>
  </body>
</html>
